main, article, aside, header, nav,footer {
    border: 1px solid black;
      outline-style: solid;
    }

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h  h   h"
    "n  n   n"
    "a  a   as"
    "f  f   f";
}

header {
grid-area: h;
}

nav {
    grid-area: n;
    
}
article {

    grid-area: a;
    width: 100 %;
    height: 100 %;
}

aside {
grid-area: as;
}

footer {

    grid-area: f;
}





